{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <div class="card">
        <h2 style="text-align: center;">Change Password</h2>
        <form method="POST">
            <label>Current Password</label>
            <input type="password" name="current_password" placeholder="Current Password" required>

            <label>New Password</label>
            <input type="password" name="new_password" placeholder="New Password" required>

            <button type="submit" style="width: 100%;">Update Password</button>
        </form>
    </div>
</div>
{% endblock %}